@charset "utf-8";
@import url(default.css);
@import url('https://webfontworld.github.io/eulyoo/Eulyoo1945.css');

*::selection {
    background-color: #7a563c;
    color: #fff;
}

*::-moz-selection {
    /* 호환성을 위한 코드 */
    background-color: #7a563c;
    color: #fff;
}

html,
body {
    font-family: 'Eulyoo1945', serif;
    /* 서체 serif 명조 sans-serif 고딕 */
    font-size: 15px;
    /* 크기 */
    color: #3d3d3d;
    /* 글자색상 */
    font-weight: 400;
    /* 글자의 두께 */
    line-height: normal;
    /* auto */
    word-spacing: -0.04em;
    word-break: keep-all;
    /* 단어를 묶어서 줄바꿈 */
    word-wrap: break-word;
    /* 만약 단어가 엄청 길면 분리해서 줄바꿈 */
}

body {
    container-type: inline-size;
}

.wrapper {
    /* 홈페이지의 넓이를 제한하고 가운데 정렬 */
    max-width: 1920p;
    /* 홈페이지 넓이 */
    margin: 0 auto;
}

#wrap {
    /* id="wrap"에 적용되는 스타일 */

    overflow: hidden;
}

/* 640px 이하일때 스타일 - 640이하는 모바일 초과는 탭  */
@container (width < 640px) {
    html,
    body {
        font-size: 12px;
    }

    .wrapper {
        width: auto;
        margin: 0 20px;
    }

    #wrap {
        min-width: auto;
        /* 홈페이지의 최소넓이 제한하지 않음 */
    }
}

/*media*/

.skipnav {
    position: absolute;
    left: 0;
    top: -150px;
    z-index: 1000;
}

.skipnav a {
    left: 0;
    top: 0;
    line-height: 50px;
    text-align: center;
    background-color: #004f89;
    font-size: 17px;
}

.skipnav a:focus {
    left: 0;
    top: 100px;
    z-index: 100;
}

.header {
    left: 0;
    top: 0;
    z-index: 100000;
    width: 100%;
    height: 200px
    color: #1d1d1d;
    container-type: inline-size;
    /* header에 나중에 마우스를 올리거나 class가 추가되거나
       변화가 생겨서 스타일이 변경된다면 그때 천천히 변경돼.. */
}

.header .logo_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: auto;
}
.header .logo {
    margin: 0 0 0 calc(50% - 150px);
}

.header .logo a {
    width: 297px;
    height: 50px;
    display: block;
    font-size: 0;
    line-height: 0;
    background: url(../images/logo.png) no-repeat center center / contain;
}

.header .tnb {
    display: flex;
    justify-content: space-between;
    margin: 1em;
}

.header .tnb .login,
.header .tnb .search {
    display: block;
    width: 30px;
    height: 30px;
    margin: auto;
    margin-left: 10px;
    font-size: 0;
    line-height: 0;
    background-repeat: no-repeat;
    background-position: center center / cover;
    background-size: 25px auto;
}

.header .tnb .login {

    background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5 12.5C15.9518 12.5 18.75 9.70178 18.75 6.25C18.75 2.79822 15.9518 0 12.5 0C9.04822 0 6.25 2.79822 6.25 6.25C6.25 9.70178 9.04822 12.5 12.5 12.5ZM16.6667 6.25C16.6667 8.55119 14.8012 10.4167 12.5 10.4167C10.1988 10.4167 8.33333 8.55119 8.33333 6.25C8.33333 3.94881 10.1988 2.08333 12.5 2.08333C14.8012 2.08333 16.6667 3.94881 16.6667 6.25Z' fill='black'/%3E%3Cpath d='M25 22.9167C25 25 22.9167 25 22.9167 25H2.08333C2.08333 25 0 25 0 22.9167C0 20.8333 2.08333 14.5833 12.5 14.5833C22.9167 14.5833 25 20.8333 25 22.9167ZM22.9166 22.9094C22.9137 22.3953 22.5963 20.8551 21.1831 19.4419C19.8242 18.083 17.269 16.6667 12.5 16.6667C7.731 16.6667 5.17574 18.083 3.81687 19.4419C2.40366 20.8551 2.0863 22.3953 2.08333 22.9094H22.9166Z' fill='black'/%3E%3C/svg%3E%0A");
}

.header .tnb .search {
    background-size: 25px auto;
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.3471 16.1623C19.5827 14.4802 20.3125 12.4034 20.3125 10.1562C20.3125 4.54711 15.7654 0 10.1562 0C4.54711 0 0 4.54711 0 10.1562C0 15.7654 4.54711 20.3125 10.1562 20.3125C12.404 20.3125 14.4813 19.5823 16.1637 18.3461L16.1623 18.3471C16.2084 18.4096 16.2597 18.4694 16.3163 18.526L22.3326 24.5424C22.9428 25.1525 23.9322 25.1525 24.5424 24.5424C25.1525 23.9322 25.1525 22.9428 24.5424 22.3326L18.526 16.3163C18.4694 16.2597 18.4096 16.2084 18.3471 16.1623ZM18.75 10.1562C18.75 14.9024 14.9024 18.75 10.1562 18.75C5.41005 18.75 1.5625 14.9024 1.5625 10.1562C1.5625 5.41005 5.41005 1.5625 10.1562 1.5625C14.9024 1.5625 18.75 5.41005 18.75 10.1562Z' fill='black'/%3E%3C/svg%3E%0A");
}

.header .gnb .gnb_open,
.header .gnb .gnb_close {
    display: none;
}

.header .gnb {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .gnb ul.depth1 {
    display: flex;
}

.header .gnb ul.depth1 > li {
    width: 100px;
}

.header .gnb ul.depth1 > li > a {
    display: block;
    /* width:100% */
    line-height: 60px;
    /* 높이100px에 글자는 위아래 가운데 */
    font-size: 22px;
    font-weight: 700;
}

.header .gnb ul.depth2 {
    /* 2차메뉴 */
    margin: 22px 0 0 0;
    display: none;
}

.header .gnb ul.depth2 > li > a {
    display: block;
    /* 넓이 100% - 글자가 짧아도 넓게 클릭 */
    font-size: 17px;
    line-height: 40px;
}

.header.menu_over {
    color: #1d1d1d;
}

.header.menu_over::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 320px;
    background-color: #fff;
    content: '';
}

.header.menu_over .gnb ul.depth2 {
    font-size: 14px;
    font-weight: 200;
    display: block;
}

.header .gnb ul.depth1 > li {
    width: 150px;
    text-align: center;
}

.header .gnb ul.depth1 > li > a {
    display: block;
    line-height: 75px;
}

.header .gnb ul.depth1 > li:hover > a {
    font-weight: 700;
    color: #7a563c;
}
.header .gnb ul.depth2 {
    font-size: 14px;
    font-weight: 200;
    display: none;
}
.header .gnb ul.depth2 > li > a {
    line-height: 30px;
}
.header .gnb ul.depth2 > li:hover > a {
    font-weight: 700;
    color: #435585;
}

@container (width < 640px) {
    .header {
        height: 50px;
        width: 100%;
    }
    .header .logo_wrap {
        height: 50px;
    }
    .header .logo {
        margin: 0;
    }

    .header .logo a {
        width: 110px;
        height: 19px;
        background-position: contain;
    }

    .header .gnb {
        flex-wrap: wrap;
        justify-content: flex-start;
        flex-direction: column;
    }

    .header .gnb .gnb_open,
    .header .gnb .gnb_close {
        position: absolute;
        /* header를 기준으로 정렬 */
        right: 0;
        top: 0;
        width: 60px;
        height: 50px;
        font-size: 0;
        line-height: 0;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 24px auto;
    }

    .header .gnb .gnb_open {
        display: block;
        background-image: url(../images/menu.svg);
        background-size: 25px auto;
        transition: 0.5s;
    }

    .header .menu_open .gnb .gnb_open {
        display: block;
        background-image: url(../images/closed.svg);
        transition: 0.5s;
    }

    .header .tnb {
        display: none;
    }

    .header .menu_open .gnb ul .depth1 {
        display: block;
    }

    .header .menu_open .gnb .gnb_wrap {
        position: absolute;
        left: 50px;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: #fff;
    }

    .header .menu_open .gnb ul.depth1 > li > a {
        display: block;
        line-height: 50px;
    }

    .header .menu_open .gnb ul.depth1 > li:hover > a {
        font-weight: 700;
        color: #7a563c;
    }

    .header .menu_open .gnb ul.depth1 > li > a > span {
        position: relative;
        display: block;
    }

    .header .menu_open .gnb ul.depth1 > li:hover > a > span::after {
        position: absolute;
        left: 25%;
        bottom: 20px;
        width: 50%;
        height: 1px;
        content: '';
    }

    .header .menu_open .gnb ul.depth2 {
        font-size: 14px;
        font-weight: 200;
        display: none;
    }

    .header .menu_open .gnb ul.depth2 > li > a {
        line-height: 30px;
    }

    .header .menu_open .gnb ul.depth2 > li:hover > a {
        font-weight: 700;
        color: 435585;
    }
}

/* media */

.visual {
    position: relative;
    container-type: inline-size;
}

.visual .swiper {
    height: 700px;
    z-index: -1;
}

.visual .swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.visual .swiper .prev,
.visual .swiper .next {
    position: absolute;
    /* swiper 기준 */
    top: 365px;
    z-index: 100;
    /* 순서 */
    width: 111px;
    height: 52px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0;
    line-height: 0;
}

.visual .swiper .prev {
    left: 5%;
    background-image: url("data:image/svg+xml,%3Csvg width='114' height='54' viewBox='0 0 114 54' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M53.3082 1L2 53H113' stroke='white' stroke-opacity='0.5' stroke-linecap='round'/%3E%3C/svg%3E%0A");
}

.visual .swiper .next {
    right: 5%;
    background-image: url("data:image/svg+xml,%3Csvg width='114' height='54' viewBox='0 0 114 54' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M60.6918 1L112 53H0.999996' stroke='white' stroke-opacity='0.5' stroke-linecap='round'/%3E%3C/svg%3E");
}

.visual .swiper .stop,
.visual .swiper .play {
    position: absolute;
    /* swiper */
    right: 5vw;
    bottom: 40px;
    z-index: 10;
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 100%;
    font-size: 0;
    line-height: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 14px auto;
}

.visual .swiper .stop {
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.72884 10.7916V3.20834H10.7913V10.7916H7.72884ZM3.20801 10.7916V3.20834H6.27048V10.7916H3.20801ZM8.60381 9.91666H9.91633V4.08333H8.60381V9.91666ZM4.08299 9.91666H5.39551V4.08333H4.08299V9.91666Z' fill='white'/%3E%3C/svg%3E%0A");
}

.visual .swiper .pagination {
    position: absolute;
    left: calc(50% - 37px);
    bottom: 39px;
    z-index: 10;
    width: auto;
}

/* 일반 버튼 */
.visual .swiper .pagination .swiper-pagination-bullet {
    background: transparent;
    opacity: 1;
    border: 1px solid #fff;
    width: 12px;
    height: 12px;
    outline: 0;
}

/* 선택된버튼 */
.visual
    .swiper
    .pagination
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #fff;
}

.visual .visual_txt {
    position: absolute;
    left: 5vw;
    bottom: 50px;
    z-index: 10;
    width: 1280px;
    color: #fff;
}

.visual .visual_txt h2 {
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 10px;
}

.visual .visual_txt h2 span {
    font-size: 32px;
    margin-left: 10px;
}

.visual .visual_txt p {
    font-size: 20px;
}

@container (width < 1700px) {
    .visual .swiper .prev,
    .visual .swiper .next {
        width: 80px;
        height: 30px;
    }

    .visual .swiper .prev {
        left: 5px;
    }

    .visual .swiper .next {
        right: 5px;
    }
}

@container (width > 1400px) {
    .visual .swiper .prev,
    .visual .swiper .next {
        display: none;
    }
}

@container (width < 640px) {
    .visual .swiper {
        height: 540px;
        width: 100%;
    }

    .visual .swiper .prev,
    .visual .swiper .next {
        display: none;
    }

    .visual .swiper .stop,
    .visual .swiper .play {
        left: calc(50% + 30px);
        bottom: 11px;
        width: 16px;
        height: 16px;
        background-size: 12px auto;
    }

    .visual .swiper .pagination {
        left: calc(50% - 20px);
        bottom: 10px;
    }

    /* 일반 버튼 */
    .visual .swiper .pagination .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
    }

    .visual .visual_txt {
        left: 20px;
        top: 150px;
        width: calc(100% - 40px);
    }

    .visual .visual_txt h2 {
        font-size: 30px;
        margin-bottom: 5px;
    }

    .visual .visual_txt p {
        font-size: 13px;
    }

    .visual .visual_txt span {
        display: none;
    }
}

/* media */

.book {
    margin: 120px 0 0 0;
}

.book .inner {
    position: relative;
    /* more 정렬의 기준 */
}

/*
    왼쪽에  tit이 작게 있고
    오른쪽에 list가 콘텐츠 영역 (wrapper) 밖으로 나가야함
    그럼 tit에 아무리 넓이를 줘도 tit의 공간이 확보가 안됨
    flex는 무조건 공간에 구겨서라도 넣으라고 하기 때문에
    왼쪽에 있는 요소를 float:left를 줘서 부요요소로 만듬
    (오른쪽있는 list는  tit을 인식하지 못함
    tit은 공간을 차지하지 않음)
    list는 왼쪽에 tit공간 포함해서 여백을 줘야함.
    반드시 margin으로 
*/

.book .tit h2 {
    color: #1d1d1d;
    font-size: 50px;
    font-weight: 700;
    margin: 0 0 7px 0;
}

.book .list {
    margin: 0 0 0 327px;
}

.book .list ul {
    display: flex;
    justify-content: space-between;
    /* list의 사이즈 콘텐츠 영역의 넓이보다 큼 
    그럼 정상적으로 나타나려면 ul에 넓이를 넓이를 줘야함 
    li하나의 넓이 299px * li갯수 4   299*4 = 1196
    li 사이의 여백 28px * li갯수 -1  28*3 = 84
    합 1196 + 84 = 1280 
    */
    width: 1280px;
}

.book .list ul li {
    width: 299px;
}

.book .list ul li a {
    display: block;
    /* a태그 안에 많은 태그가 존재하면 block을 주는게 좋음 */
}

.book .list ul li a span {
    display: block;
    /* width:100% */
    height: 422px;
    border: 1px solid #ededed;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    /* 이미지가 확대 되었을때 밖으로 나가는 것 막기 */
    transition: 0.5s;
}

.book .list ul li a span img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
}

.book .list ul li a:hover span {
    border: 1px solid #ccc;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    /* transform: translate(-10px, -10px); */
}

.book .list ul li a:hover span img {
    transform: scale(0.9);
}

.book .list ul li a h3 {
    font-size: 20px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 22px 0 17px 0;
}

.book .list ul li a strong {
    display: block;
    margin: 0 0 17px 0;
    /* 한줄만 허용하는 코드 */
    white-space: nowrap;
    /* 줄바꿈 금지 */
    overflow: hidden;
    text-overflow: ellipsis;
}

.book .list ul li a p {
    /* 여러줄로 줄수를 제한하는 경우 */
    line-height: 1.2;
    height: 2.4em;
    /* 행간 * 줄수 */
    overflow: hidden;
}

.book .more {
    position: absolute;
    /* inner를 기준으로 */
    left: 0;
    top: 218px;
}

.book .more a {
    width: 144px;
    line-height: 45px;
    border: 1px solid #999999;
    display: block;
    padding: 0 0 0 17px;
    position: relative;
    /* after 정렬의 기준 */
    transition: 0.2s;
}

.book .more a::after {
    position: absolute;
    /* a를 기준으로 정렬 */
    right: 18px;
    top: 16px;
    width: 20px;
    height: 9px;
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='11' viewBox='0 0 23 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.7553 1L21 10H1' stroke='%233d3d3d' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px auto;
    transition: 0.2s;
}

.book .more a:hover {
    background-color: #7a563c;
    border: 1px solid #7a563c;
    color: #fff;
}

.book .more a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='11' viewBox='0 0 23 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.7553 1L21 10H1' stroke='white' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    animation-name: more;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes more {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(-10px, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

@container body(max-width > 640px) {
    .book {
        margin: 48px 0 0 0;
    }

    .book .tit {
        float: none;
        margin: 0 55px 0 0;
        /* 오른쪽에 더보기가 존재할 영역을 콘텐츠가 겹치지 않게
           미리 여백을 잡아줌 */
    }

    .book .tit h2 {
        font-size: 25px;
        margin: 0 0 5px 0;
    }

    .book .tit br {
        /* br태그를 없애서 줄바꿈을 삭제함 */
        display: none;
    }

    .book .list {
        margin: 19px 0 0 0;
        overflow-x: auto;
    }

    .book .list ul {
        /* list의 사이즈 콘텐츠 영역의 넓이보다 큼 
        그럼 정상적으로 나타나려면 ul에 넓이를 넓이를 줘야함 
        li하나의 넓이 167px * li갯수 4   167*4 = 668
        li 사이의 여백 16px * li갯수 -1  16*3 = 48
        합 668 + 48 = 716
        */
        width: 716px;
    }

    .book .list ul li {
        width: 167px;
    }

    .book .list ul li a span {
        height: 237px;
    }

    .book .list ul li a h3 {
        font-size: 17px;
        margin: 15px 0 12px 0;
    }

    .book .list ul li a strong {
        margin: 0 0 12px 0;
    }

    .book .more {
        /* pc버전에서는 left로 배치, 모바일에서는 right로 배치
           left와 right가 동시에 선언되면 적용안됨
           그래서 left를 auto로 해제하고 right를 줘야함 */
        left: auto;
        right: 0;
        top: 5px;
    }

    .book .more a {
        width: 40px;
        line-height: 38px;
        /* border때문에 2px 늘어나서 2px 뺌 */
        border-radius: 100%;
        padding: 0 0 0 0;
        text-align: center;
        font-size: 11px;
    }

    .book .more a::after {
        display: none;
    }
}

/*media*/

.interview {
    background-color: #f5f1ed;
    margin: 135px 0 0 0;
}

.interview .tit {
    padding: 111px 0 0 0;
    text-align: center;
}

.interview .tit h2 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 10px;
}

.interview .list {
    margin: 77px 0 0 0;
}

.interview .list ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* 두번째 li에 상단여백을 줘서 내림
    모든 li가 길이가 늘어남 
    두번째 li 상단여백 + li 길이만큼 늘어남
    flex는 모든 li 요소의 길이를 동일하게 맞추려고함
    원래 li의 길이대로만 나타나게 하려면
    반드시 align-items 속성을 줘야함 (어떤 값이든 상관없음) */
}

.interview .list ul li {
    width: 408px;
    position: relative;
    /* cnt 정렬의 기준 */
}

.interview .list ul li:nth-child(2) {
    margin: 57px 0 0 0;
}

.interview .list ul li a {
    display: block;
}

.interview .list ul li a .photo {
    border-radius: 70px 0 70px 0;
    overflow: hidden;
    /* 이미지를 감싸는 요소에 border-radius를 주는 경우
    overflow:hidden;을 꼭줘야 이미지가 짤림 */
    font-size: 0;
    line-height: 0;
}

/* 디자인상 두번째 li에 스타일이 다르다면 
css에서도 nth-child로 선택한다. */
.interview .list ul li:nth-child(2) a .photo {
    border-radius: 0 70px 0 70px;
}

.interview .list ul li a .photo img {
    filter: grayscale(100%);
    /* 흑백 */
}

.interview .list ul li a .cnt {
    position: absolute;
    /* li가 정렬의 기준 */
    left: 0;
    bottom: 0;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 15px 40px;
}

.interview .list ul li a .cnt h3 {
    font-size: 25px;
    font-weight: 700;
}

.interview .list ul li a .cnt p {
    display: none;
}

.interview .list ul li a .cnt span {
    font-size: 0;
    line-height: 0;
    width: 38px;
    height: 38px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FFF' viewBox='0 -960 960 960' %3E%3Cpath d='M460-460H240v-40h220v-220h40v220h220v40H500v220h-40v-220Z'/%3E%3C/svg%3E");
}

/* 오버되었을때 */
.interview .list ul li.active a .photo img {
    filter: grayscale(0%);
    /* 칼라 - 숫자 0 단위 없음 */
}

.interview .list ul li.active a .cnt {
    bottom: -86px;
    width: 352px;
    height: 191px;
    display: block;
    /* flex 해제 */
    padding: 30px 40px 0 40px;
    background-color: #7a563c;
    border-radius: 50px 0 50px 0;
}

.interview .list ul li:nth-child(2).active a .cnt {
    border-radius: 0 50px 0 50px;
}

.interview .list ul li.active a .cnt p {
    display: block;
    margin: 10px 0;
    /* 콘텐츠를 3줄로 제한 */
    line-height: 1.2;
    height: 3.6em;
    /* 행간 * 줄수 (단위는 em) */
    overflow: hidden;
}

.interview .list ul li.active a .cnt span {
    font-size: 15px;
    line-height: 1.2;
    width: auto;
    height: auto;
    background: none;
    /* 배경 삭제 */
    display: block;
    /* width:100% */
    text-align: right;
    position: relative;
    /* before 정렬의 기준 */
}

.interview .list ul li.active a .cnt span::before {
    position: absolute;
    left: 0;
    top: 7px;
    width: calc(100% - 5.5em);
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    content: '';
}

.interview .more {
    position: absolute;
    left: calc(50% - 72px);
    top: 227px;
}

.interview .more a {
    width: 144px;
    line-height: 45px;
    border: 1px solid #999;
    display: block;
    padding-left: 17px;
    transition: 0.5s;
}

.interview .more a::after {
    position: absolute;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 114 54' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M60.6918 1L112 53H0.999996' stroke='%23000' stroke-opacity='1' stroke-linecap='round' stroke-width='3'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    right: 18px;
    top: 16px;
    width: 20px;
    height: 9px;
    content: '';
    transition: 0.5s;
}

.interview .more a:hover {
    border: 1px solid #7a563c;
    background-color: #7a563c;
    color: #fff;
}

.interview .more a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 114 54' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M60.6918 1L112 53H0.999996' stroke='%23fff' stroke-opacity='1' stroke-linecap='round' stroke-width='3'/%3E%3C/svg%3E%0A");
    animation-name: animate_ex1;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@container (max-width > 640px) {
    .interview {
        margin-top: 57px;
        padding-bottom: 62px;
    }

    .interview .tit {
        padding-top: 55px;
        text-align: left;
    }

    .interview .tit h2 {
        font-size: 25px;
        margin-bottom: 5px;
    }

    .interview .list {
        margin-top: 17px;
    }

    .interview .list ul li {
        width: auto;
    }

    .interview .list ul li:nth-child(2),
    .interview .list ul li:nth-child(3) {
        display: none;
    }

    .interview .list ul li a .photo {
        border-radius: 30px 0 30px 0;
    }

    .interview .list ul li a .photo img {
        filter: grayscale(0%);
        width: 100%;
    }

    .interview .list ul li a .cnt {
        height: 165px;
        bottom: 0;
        padding: 30px 40px 0 40px;
        display: block;
        background-color: #7a563c;
        border-radius: 30px 0 30px 0;
    }

    .interview .list ul li a .cnt h3 {
        font-size: 17px;
    }

    .interview .list ul li a .cnt p {
        display: block;
        margin: 5px 0 10px 0;
        line-height: 1.2;
        height: 3.6em;
        overflow: hidden;
    }

    .interview .list ul li a .cnt span {
        font-size: 13px;
        line-height: 1.2;
        text-align: right;
        width: auto;
        height: auto;
        background: none;
        position: relative;
        display: block;
    }

    .interview .list ul li a .cnt span::before {
        position: absolute;
        left: 0;
        top: 8px;
        width: calc(100% - 6em);
        height: 1px;
        background-color: rgba(255, 255, 255, 0.2);
        content: '';
    }

    .interview .more {
        left: auto;
        right: 0;
        top: 57px;
    }

    .interview .more a {
        width: 44px;
        line-height: 42px;
        border-radius: 100%;
        font-size: 12px;
        padding: 0;
        text-align: center;
    }

    .interview .more a::after {
        display: none;
    }
}

.news {
    /* background: url(../images/visual01.png) no-repeat center center / cover; */
    background-color: #1d1d1d;
    color: #fff;
    padding-bottom: 105px;
}

.news .tit {
    position: sticky;
    top: 140px;
    float: left;
    margin-top: 177px;
}

.news .tit h2 {
    font-size: 50px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.news .list {
    padding-top: 321px;
    margin-left: 327px;
}

.news .list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.news .list ul li {
    width: 299px;
    margin-bottom: 74px;
}

.news .list ul li:nth-child(1),
.news .list ul li:nth-child(4) {
    margin-top: -79px;
}

.news .list ul li:nth-child(3),
.news .list ul li:nth-child(6) {
    margin-top: -147px;
}

.news .list ul li a {
    display: block;
}

.news .list ul li a span {
    overflow: hidden;
    display: block;
}

.news .list ul li a:hover span img {
    transform: scale3d(1.2, 1.2, 1);
    font-size: 0;
    line-height: 0;
    transition: 0.5s;
}

.news .list ul li a span img {
    transition: 0.5s;
}

.news .list ul li a h3 {
    font-size: 20px;
    font-weight: 700;
    margin: 5px 0 10px 0;
}

.news .list ul li a p {
    line-height: 1.2;
    height: 3.6em;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.8);
}

.news .inner {
    position: relative;
}

.news .more {
    position: absolute;
    left: 0;
    top: 398px;
}

.news .more a {
    width: 144px;
    line-height: 45px;
    border: 1px solid #fff;
    display: block;
    padding-left: 17px;
    position: relative;
    transition: 0.5s;
}

.news .more a::after {
    position: absolute;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 114 54' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M60.6918 1L112 53H0.999996' stroke='%23fff' stroke-opacity='1' stroke-linecap='round' stroke-width='3'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    right: 18px;
    top: 16px;
    width: 20px;
    height: 9px;
    content: '';
    transition: 0.5s;
}

.news .more a:hover {
    border: 1px solid #7a563c;
    background-color: #7a563c;
    color: #fff;
.news .more a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 114 54' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M60.6918 1L112 53H0.999996' stroke='%23fff' stroke-opacity='1' stroke-linecap='round' stroke-width='3'/%3E%3C/svg%3E%0A");
    animation-name: animate_ex1;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@media screen and (max-width: 40em) {
    .news {
        padding-bottom: 4.5em;
    }

    .news .tit {
        position: relative;
        top: auto;
        float: none;
        margin-top: 0;
        padding-top: 4em;
    }

    .news .tit h2 {
        font-size: 1.5625em;
        margin: 0 0 0.3125em 0;
    }

    .news .tit br {
        display: none;
    }

    .news .list {
        padding-top: 1.875em;
        margin-left: 0;
    }

    .news .list ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .news .list ul li {
        width: 18.6875em;
        margin-bottom: 4.625em;
    }

    .news .list ul li:nth-child(1),
    .news .list ul li:nth-child(4) {
        margin-top: -4.9375em;
    }

    .news .list ul li:nth-child(3),
    .news .list ul li:nth-child(6) {
        margin-top: -9.1875em;
    }

    .news .list ul li a {
        display: block;
    }

    .news .list ul li a span {
        overflow: hidden;
        display: block;
    }

    .news .list ul li a:hover span img {
        transform: scale3d(1.2, 1.2, 1);
        font-size: 0;
        line-height: 0;
        transition: 0.5s;
    }

    .news .list ul li a span img {
        transition: 0.5s;
    }

    .news .list ul li a h3 {
        font-size: 1.25em;
        font-weight: 700;
        margin: 0.3125em 0 0.625em 0;
    }

    .news .list ul li a p {
        line-height: 1.2;
        height: 3.6em;
        overflow: hidden;
        color: rgba(255, 255, 255, 0.8);
    }

    .news .inner {
        position: relative;
    }

    .news .more {
        position: absolute;
        left: 0;
        top: 24.875em;
    }

    .news .more a {
        width: 9em;
        line-height: 2.8125em;
        border: 0.0625em solid #fff;
        display: block;
        padding-left: 1.0625em;
        position: relative;
        transition: 0.5s;
    }

    .news .more a::after {
        position: absolute;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 114 54' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M60.6918 1L112 53H0.999996' stroke='%23fff' stroke-opacity='1' stroke-linecap='round' stroke-width='3'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center center;
        right: 1.125em;
        top: 1em;
        width: 1.25em;
        height: 0.5625em;
        content: '';
        transition: 0.5s;
    }

    .news .more a:hover {
        border: 0.0625em solid #7a563c;
        background-color: #7a563c;
        color: #fff;
    }

    .news .more a:hover::after {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 114 54' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M60.6918 1L112 53H0.999996' stroke='%23fff' stroke-opacity='1' stroke-linecap='round' stroke-width='3'/%3E%3C/svg%3E%0A");
        animation-name: animate_ex1;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}

.footer {
    margin-top: 3.125em;
}

.footer em {
    display: block;
}

.footer .footer_inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6.25em;
}

.footer .footer_info {
    margin-top: 3.125em;
    display: flex;
    flex-direction: column;
}

.footer .footer_info span {
    margin-top: 0.625em;
}

.footer_wrap {
    text-align: right;
}

.footer .footer_service {
    display: flex;
    justify-content: flex-end;
}

.footer .copyright {
    margin-top: 3.125em;
}

@keyframes animate_ex1 {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(-1.25em, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}}